@media screen and (min-width: 320px) and (max-width: 521px) {

    section {
        margin: 0 20px 0 74px;
    }

    .verticalLine {
        left: 54px;
    }

    .navButton,
    .menuIcon {
        width: 54px;

        span {
            display: none;
        }
    }

    .basket {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 74px;
    }

    .contentBasket {
        align-items: center;
    }

    .notepadBasket {
        flex-direction: column;
    }

    .contentBasketBtn {
        margin-top: 16px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 421px) {
    section {
        margin: 0 20px 0 20px;
    }

    .contentNavbar {
        visibility: hidden;
    }

    .notepad {
        margin: auto 0;
    }

    .bmContentNavbar {
        display: unset !important;
        margin: 8px 0 8px 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
    }

    .notes,
    .mainNote {
        justify-content: center;
        width: 260px;
    }

    .noteBar {
        justify-content: center;
    }

    .basket {
        margin: 0 20px 0 20px;
    }
}