.content {
    max-width: 1920px;
    margin: 0 auto;
}

.addBars {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
}


.d-none {
    display: none !important;
}